# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

*.DS_Store
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
.idea
*.iml