.post_display {
	background-color : white;
	margin-top : 10px;
	margin-bottom : 10px;
	padding : 10px;
}

.post_header {
	border-bottom : 1px solid gray;
	padding-bottom : 10px;
}

.post_span {
	font-size : 20px;
}

.post_content {
	font-size : 16px;
	padding-bottom : 10px;
}

.post_action {
	display : flex;
	text-align : center;
	font-size : 16px;
}

.post_like,.post_comment {
	flex : 1;
	padding-top : 10px;
	padding-bottom : 10px;
	margin-top : 5px;
	margin-bottom : 5px;

	border-top:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
}

.post_like:hover,.post_comment:hover {
	background-color : #e6e6e6;
}